USE [master]
GO
/****** Object:  Database [Finans]    Script Date: 06/08/2021 23:29:44 ******/
CREATE DATABASE [Finans]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Finans', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Finans.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Finans_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Finans_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Finans].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Finans]
GO
/****** Object:  Table [dbo].[Transacao]    Script Date: 06/08/2021 23:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacao](
	[id_trans] [int] IDENTITY(1,1) NOT NULL,
	[data_trans] [date] NOT NULL,
	[desc_trans] [varchar](100) NOT NULL,
	[valor_trans] [decimal](18, 2) NOT NULL,
	[nota_trans] [text] NULL,
 CONSTRAINT [PK_Transacao] PRIMARY KEY CLUSTERED 
(
	[id_trans] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
